.nav {
  background: #2c3e50;
  -webkit-columns: 100px 7;
  -moz-columns: 100px 7;
  columns: 100px 7;
  /* -webkit-column-gap: 0;
  -moz-column-gap: 0;
  column-gap: 0; */
  -webkit-column-rule: 1px none #1a242f;
  -moz-column-rule: 1px none #1a242f;
  column-rule: 1px none #1a242f;
	margin-top: 0;
	margin-left: 0;
	padding-left: 0;
}

.nav a {
  text-decoration: none;
  color: white;
  display: block;
  padding: 1em;
  text-align: center;
  border-bottom: 1px solid #1a242f;
}
.nav a:hover {
  background: #1a242f;
}

body {
  font-family: 'Georgia', serif;
  font-weight: 400;
  line-height: 1.45;
  color: #333;
  background: #ecf0f1;
}







#pageheader {
	height: 55px;
	background: #2c3e50;
	color: white;
	margin-bottom: 5px;
	padding-bottom: 0;
  position: relative;
	z-index: 10;
	text-align: center;
}

#sub{
	text-decoration: none;
	color: blue;
	text-align: center;
	font-size: 80%;
}

#Icon {
	position: center;
	width: 42px;
	height: 42px;
}

#Inhalt {
	position: relative;
	width: 79%;
	height: 100% ;
	float: left;
	background: red;
}

#Panel {
	position: relative;
	width: 12.25%;
	height: 100%;
	float: left;
	background: green;
	margin: 5px;
}

#Auswahl {
	width: 20%	;
	height: 100px;
	float: left;
	background: blue;
	margin-right: 20px;
}

#Suche {
	width: 100%;
	height: 50%;
	float: left;

}


#toplink {
	width: 100%;
	height: 10%;
}

#Sidebar {
	position: absolute;
	right: 0;
	width: 300px;
	height: 500px;
	margin-right: 10px

}

#Werbung {
	margin-right: 11px;
	width: 300px;
	height: 500px;

}

#Vorschläge {
	position: relative;
	width: 79%;
	height: 500px;
	float: left;
	background: yellow;
	margin-top: 10px;

}

#Schrift {
	color: black;

}
