#pageheader {
	background-color: lightblue;
	color: black;
	padding: 40px;
	text-align: center;
}

#sub{
	text-decoration: none;
	color: blue;
	text-align: center;
	font-size: 80%;
}

#Icon {
	position: center;
	width: 42px;
	height: 42px;
}

#Inhalt {
	position: relative;
	width: 79%;
	height: 100% ;
	float: left;
	background: red;
}

#Panel {
	position: relative;
	width: 12.25%;
	height: 100%;
	float: left;
	background: green;
	margin: 5px;
}

#Auswahl {
	width: 20%	;
	height: 100px;
	float: left;
	background: blue;
	margin-right: 20px;
}

#Suche {
	width: 100%;
	height: 50%;
	float: left;
	
}
	
	
#toplink {
	width: 100%;
	height: 10%;
}

#Sidebar {
	position: absolute;
	right: 0.5%;
	width: 20%;
	height: 500px; 
	float: none;
}

#Werbung {
	position: center;
	width: 300px;
	height: 500px;
	
}

#Vorschläge {
	position: relative;
	width: 79%;
	height: 500px;
	float: left;
	background: yellow;
	margin-top: 10px;
	
}

#Schrift {
	color: black;	
	
}
