.nav {
  background: #2c3e50;
  -webkit-columns: 100px 7;
  -moz-columns: 100px 7;
  columns: 100px 7;
  /* -webkit-column-gap: 0;
  -moz-column-gap: 0;
  column-gap: 0; */
  -webkit-column-rule: 1px none #1a242f;
  -moz-column-rule: 1px none #1a242f;
  column-rule: 1px none #1a242f;
	margin-top: 0;
  margin-bottom: 5px;
	margin-left: 0;
	padding-left: 0;
}

li {
  color: #2c3e50;
}

.nav a {
  text-decoration: none;
  color: white;
  display: block;
  padding: 1em;
  text-align: center;
  border-bottom: 1px solid #1a242f;
}
.nav a:hover {
  background: #1a242f;
}

.container-4 input#search{
  width: 300px;
  left:10px;
  height: 50px;
  background: white;
  border: none;
  font-size: 10pt;
  float: left;
  color: black;
  padding-left: 15px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  margin-left: 10px;
  border-radius: 5px;
}

.container-4 :hover{
  background: #1a242f;
}

#Produkte {
	left:10px;
	width: 1500px;
}

.anzeigeErstellen  {
  width: 300px;
  height: 50px;
  background: #2c3e50;
  border: none;
  font-size: 10pt;
  float: left;
  color: black;
  padding-left: 0px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  margin-right: 5px;
  text-align: center;
  text-decoration: none;
}

#anzeigeErstellenText {
  margin-top: 12px;
  color: white;
  font-size: 17px;
}


body {
  font-family: 'Georgia', serif;
  font-weight: 400;
  line-height: 1.45;
  color: #333;
  background: #cdcdcd;
}


#link {
  font-size: 90%;
}


#pageheader {
	height: 60px;
	background: #2c3e50;
	color: white;
	margin-bottom: 5px;
	padding-bottom: 0;
  position: relative;
	z-index: 10;
	text-align: center;
  font-family: Impact, Charcoal, sans-serif;
  font-size: 44px;
  margin-top: 0;
  padding-bottom: 0;
}

#sub{
	text-decoration: none;
	color: blue;
	text-align: center;
	font-size: 80%;
}

#Icon {
	position: center;
	width: 42px;
	height: 42px;
}

#Inhalt {
	position: relative;
	width: 79%;
	height: 100% ;
	float: left;
	background: red;
}

#Panel {
	position: relative;
	width: 12.25%;
	height: 100%;
	float: left;
	background: green;
	margin: 5px;
}

#Auswahl {
	width: 20%	;
	height: 100px;
	float: left;
	background: blue;
	margin-right: 20px;
}

#Suche {
	width: 100%;
	height: 50%;
	float: left;

}


#toplink {
	width: 100%;
	height: 10%;
}

#Sidebar {
	position: absolute;
	right: 0;
	width: 300px;
	height: 500px;
	margin-right: 9px;

}



#Vorschläge {
	position: relative;
	width: 79%;
	height: 500px;
	float: left;
	background: yellow;
	margin-top: 10px;

}

#Schrift {
	color: black;
}

#table {
	font-size: 200%;
	margin-bottom: 3%;

}

#tablerow {
	allign: left;
	margin-bottom: 2%;

}

.mySlides {
  display : none;
  height: 600px;
  width: 300px;
  margin-right: 11px;
}

/* Beitragerstellen.php css */
#headline {

	float: left;
	position: absolute;
	width: 25%;
	left:25%;


}
#Feld {
	float: right;
	position: absolute;
	width: 25%;
	right: 25%;


}
#pageheader2 {
	height: 60px;
	color: black;
	margin-bottom: 5px;
	padding-bottom: 0;
	position: relative;
	text-align: center;
	font-size: 30px;
	margin-top: 0;
	padding-bottom: 0;
}

.Form {
	color:white;
	font-weight: bold;
	margin-bottom: 10px;
	margin-top: 10px;
}

.format {
	background: #2c3e50;
	width: 400px;

}

#img_div{
 width: 80%;
 padding: 5px;
 margin: 15px auto;
 border: 1px solid #cbcbcb;
}
