.nav {
  background: #2c3e50;
  -webkit-columns: 100px 8;
  -moz-columns: 100px 8;
  columns: 100px 8;
  /* -webkit-column-gap: 0;
  -moz-column-gap: 0;
  column-gap: 0; */
	margin-top: 40px;
	margin-bottom: 5px;
	margin-left: 10px;
	margin-right: 10px;
	padding-left: 0;
	height: 100%;
}

li {
  color: #2c3e50;
}

.nav a {
  text-decoration: none;
  color: white;
  display: block;
  padding: 1em;
  text-align: center;
  border-bottom: 1px solid #1a242f;
  height: 50px;
  width: 80%;
  color: white;
  font-size: 17px;
}


.tab-content {
	left: 10px;
	width: 75%;

}


.anzeigeErstellen  {
  width: 300px;
  height: 50px;
  background: #2c3e50;
  border: none;
  font-size: 10pt;
  float: left;
  padding-left: 0px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  margin-right: 5px;
  text-align: center;
  text-decoration: none;
}

#anzeigeErstellenText {
  color: 	#C0C0C0;
}


body {
  font-family: 'Georgia', serif;
  font-weight: 400;
  line-height: 1.45;
  color: #333;
  background: #cdcdcd;
}


#link {
  font-size: 90%;
}


#pageheader {
	height: 60px;
	background: #2c3e50;
	color: white;
	margin-bottom: 5px;
	padding-bottom: 0;
  position: relative;
	z-index: 10;
	text-align: center;
  font-family: Impact, Charcoal, sans-serif;
  font-size: 44px;
  margin-top: 0;
  padding-bottom: 0;
}

#sub{
	text-decoration: none;
	color: blue;
	text-align: center;
	font-size: 80%;
}

#Icon {
	position: center;
	width: 42px;
	height: 42px;
}

#Inhalt {
	position: relative;
	width: 79%;
	height: 100% ;
	float: left;
	background: red;
}

#Panel {
	position: relative;
	width: 12.25%;
	height: 100%;
	float: left;
	background: green;
	margin: 5px;
}

#Auswahl {
	width: 20%	;
	height: 100px;
	float: left;
	background: blue;
	margin-right: 20px;
}

#Suche {
	width: 100%;
	height: 50%;
	float: left;

}


#toplink {
	width: 100%;
	height: 10%;
}

#Sidebar {
	position: absolute;
	right: 0;
	top: 170px;
	height: 500px;
	margin-right: 0;
}

#SidebarBeitragErstellen {
  position: absolute;
  right: 0;
  top: 78px;
  height: 500px;
  margin-right: 0;

}

#Mainbar {
	position: absolute;
	left: 0;
	right: 30%;
}

#Vorschläge {
	position: relative;
	width: 79%;
	height: 500px;
	float: left;
	background: yellow;
	margin-top: 10px;

}

#Schrift {
	color: black;
}

#table {
	font-size: 200%;
	margin-bottom: 3%;

}

#tablerow {
	allign: left;
	margin-bottom: 2%;

}

.mySlides {
  display : none;
  height: 600px;
  width: 300px;
  margin-right: 11px;
}

/* Beitragerstellen.php css */
#headline {

	float: left;
	position: absolute;
	width: 25%;
	left:25%;


}
#Feld {
	float: right;
	position: absolute;
	width: 25%;
	right: 25%;


}
#pageheader2 {
  height: 60px;
  background: #2c3e50;
  color: white;
  margin-bottom: 5px;
  padding-bottom: 0;
  position: relative;
  z-index: 10;
  text-align: center;
  font-family: Impact, Charcoal, sans-serif;
  font-size: 44px;
  margin-top: 0;
  padding-bottom: 0;
}

.Form {
	color:white;
	font-weight: bold;
	margin-bottom: 10px;
	margin-top: 10px;
}

.format {
	background: #2c3e50;
	width: 400px;

}

#img_div{
 width: 80%;
 padding: 5px;
 margin: 15px auto;
 border: 1px solid #cbcbcb;
}

/*Newsticker*/

#iFeatures {
  position: absolute;
  width: 99%;
  height: 30px;
  left: 0;
  top: 60px;
  background: #2c3e50;
  margin-left: 10px;
  margin-top: 5px;

}
.ticker {
  position: absolute;
  top: 25%;
  left: 40px;
  right: 10px;
  bottom: 10%;
  overflow: hidden;
}

.ticker p {
  position: relative;
  top: 0;
  white-space: nowrap;
  width: auto;
  color: white;
  font-weight: bold;
}

.ticker a {
  color: white;
}

.product_content {
  text-align: center;
  margin: auto;
  display:block;
}
